.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}
.header img{
    height: 20px;
    padding-left: 0.4rem;
}
.header h1{
    font-family: Righteous;
    font-size: 2rem;
    text-transform: uppercase;
}
.header nav ul{
    display: none;
    justify-content: space-evenly;
    flex: 1;
}
.header a{
    text-transform: uppercase;
}
.header a:hover{
    color: #666;
}

@media (min-width: 1024px) {
    nav{
        flex-basis: 400px;
    }
    .header nav ul{
        display: flex;
    }
}