<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../styles/reset.css" type="text/css">
        <link rel="stylesheet" href="../styles/styles.css" type="text/css">
        <link rel="stylesheet" href="../styles/header.css" type="text/css">
        <link rel="stylesheet" href="../styles/landing.css" type="text/css">
        <link rel="stylesheet" href="../styles/sidebar.css" type="text/css">
        <link rel="stylesheet" href="../styles/footer.css" type="text/css">
        <title>TrackGenix</title>
    </head>
    <body>
        <div class="flex-aside">
            <aside class="sidebar">
                <div class="div-form">
                    <form action="#">
                        <input type="text" name="search" placeholder="Search">
                        <a href="#"><img src="../assets/search.png" alt="icon of search"></a>
                    </form>
                </div>
                <div class="text-sidebar">
                    <p class="title-sidebar">Menu</p>
                    <ul>
                        <li><a href="#">Homepage</a></li>
                        <li><a href="#">Generic</a></li>
                        <li><a href="#">Submenu</a></li>
                    </ul>
                </div>
                <div class="text-sidebar">
                    <p class="title-sidebar">Get in Touch</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Leo, venenatis volutpat fusce vitae, in suspendisse proin massa.
                        Mattis nulla libero nibh eu nisl sed.
                    </p>
                    <ul>
                        <li class="box-contact">
                            <img src="../assets/message.png" alt="icon of message">
                            <span>information@untitled.tld</span>
                        </li>
                        <li class="box-contact">
                            <img src="../assets/phone.png" alt="icon of phone">
                            <span>(000) 0000 00000</span>
                        </li>
                        <li class="box-contact">
                            <img src="../assets/home.png" alt="icon of home">
                            <span>1234 Somewhere Road #8254 Nashville, TN 00000-0000</span>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
        <div class="flex-main">
            <header>
                <div class="header">
                    <span><img src="../assets/burger.png" alt="icon of Burger Menu"></span>
                    <h1>TrackGenix</h1>
                    <nav>
                        <ul>
                            <li><a href="index.html" id="home">Home</a></li>
                            <li><a href="sign-up.html">SignUp</a></li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            <main>
                <div class="container">
                    <section class="main">
                        <div class="text-main">
                            <h2>The future of Remote Work</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Consequat purus, nulla morbi bibendum in fringilla sed.
                                Urna, elementum aliquam placerat platea aenean vestibulum varius.
                                Magna elementum neque arcu, vulputate diam, tincidunt.
                                Tempus facilisis feugiat habitant nulla elementum phasellus pulvinar leo sit.
                            </p>
                            <button type="button">Learn More</button>
                        </div>
                        <div class="flex-img">
                            <img src="../assets/planisferio.png" alt="image of planisferio">
                        </div>
                    </section>
                    <section class="main-func">
                        <h2>Functions</h2>
                        <div class="functions">
                            <div class="box-func">
                                <img src="../assets/timekeeping.png" alt="icon of Timekeeping">
                                <div class="text-func">
                                    <h3>Timekeeping</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Leo, venenatis volutpat fusce vitae, in suspendisse proin massa.
                                        Mattis nulla libero nibh eu nisl sed.
                                    </p>
                                </div>
                            </div>
                            <div class="box-func">
                                <img src="../assets/resource.png" alt="icon of Resource management">
                                <div class="text-func">
                                    <h3>Resource management</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Leo, venenatis volutpat fusce vitae, in suspendisse proin massa.
                                        Mattis nulla libero nibh eu nisl sed.
                                    </p>
                                </div>
                            </div>
                            <div class="box-func">
                                <img src="../assets/report.png" alt="icon of Reports">
                                <div class="text-func">
                                    <h3>Reports</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Leo, venenatis volutpat fusce vitae, in suspendisse proin massa.
                                        Mattis nulla libero nibh eu nisl sed.
                                    </p>
                                </div>
                            </div>
                            <div class="box-func">
                                <img src="../assets/roles.png" alt="icon of Multiple roles">
                                <div class="text-func">
                                    <h3>Multiple roles</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Leo, venenatis volutpat fusce vitae, in suspendisse proin massa.
                                        Mattis nulla libero nibh eu nisl sed.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="main-assets">
                        <h2>Assets</h2>
                        <div class="assets">
                            <div class="flex-assets">
                                <img src="../assets/traceability.jpg" alt="A woman next to a whiteboard">
                                <h3>Traceability</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Leo, venenatis volutpat fusce vitae, in suspendisse proin massa.
                                    Mattis nulla libero nibh eu nisl sed.
                                </p>
                                <button type="button">More</button>
                            </div>
                            <div class="vertical-line"></div>
                            <div class="flex-assets">
                                <img src="../assets/equipment.jpg" alt="Team greeting">
                                <h3>Equipment management</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Leo, venenatis volutpat fusce vitae, in suspendisse proin massa.
                                    Mattis nulla libero nibh eu nisl sed.
                                </p>
                                <button type="button">More</button>
                            </div>
                            <div class="flex-assets">
                                <img src="../assets/desicion.jpg" alt="Team work">
                                <h3>Desicion making</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Leo, venenatis volutpat fusce vitae, in suspendisse proin massa.
                                    Mattis nulla libero nibh eu nisl sed.
                                </p>
                                <button type="button">More</button>
                            </div>
                            <div class="vertical-line"></div>
                            <div class="flex-assets">
                                <img src="../assets/efficiency.jpg" alt="Screen showing a graphic">
                                <h3>Efficiency</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Leo, venenatis volutpat fusce vitae, in suspendisse proin massa.
                                    Mattis nulla libero nibh eu nisl sed.
                                </p>
                                <button type="button">More</button>
                            </div>
                        </div>
                    </section>
                    <section class="main-form">
                        <h2>Form</h2>
                        <form action="#">
                            <input type="text" name="fullName" placeholder="Full Name">
                            <input type="email" name="surName" placeholder="Email">
                            <select name="category">
                                <option>Category 1</option>
                                <option>Category 2</option>
                                <option>Category 3</option>
                                <option>Category 4</option>
                            </select>
                            <textarea cols="30" placeholder="Enter your message"></textarea>
                            <div class="flex-buttons">
                                <button type="button">Send Message</button>
                                <button type="button" class="btn-reset">Reset</button>
                            </div>
                        </form>
                    </section>
                    <section class="main-about">
                        <h2>About Us</h2>
                        <div class="about">
                            <div class="text-about">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Turpis mauris, sit placerat nullam amet, et sit.
                                    Porta vivamus diam vivamus non. Gravida semper nulla eu urna cras elit.
                                    Mattis suspendisse consequat tempor condimentum commodo malesuada etiam venenatis.
                                    Volutpat augue quam commodo nascetur in dolor at egestas sollicitudin.
                                    Nulla non auctor tempus pellentesque. Scelerisque metus tristique auctor scelerisque.
                                    Enim at est id orci at malesuada sed morbi. Quis orci, pretium amet nibh.
                                </p>
                            </div>
                            <img src="../assets/aboutus.jpg" alt="A woman taking notes">
                        </div>
                    </section>
                    <section class="main-our">
                        <div class="our">
                            <div class="text-our">
                                <h4>Products</h4>
                                <ol>
                                    <li><a href="#">Functions</a></li>
                                    <li><a href="#">Downloads</a></li>
                                    <li><a href="#">Integrations</a></li>
                                    <li><a href="#">Extras</a></li>
                                </ol>
                            </div>
                            <div class="text-our">
                                <h4>Company</h4>
                                <ol>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Customers</a></li>
                                    <li><a href="#">Resources</a></li>
                                    <li><a href="#">Blog</a></li>
                                </ol>
                            </div>
                            <div class="text-our">
                                <h4>Support</h4>
                                <ol>
                                    <li><a href="#">Help</a></li>
                                    <li><a href="#">Tutorials</a></li>
                                    <li><a href="#">API</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ol>
                            </div>
                        </div>
                    </section>
                </div>
            </main>
            <footer>
                <div class="social-media">
                    <a href="https://www.twitter.com/"><img src="../assets/twitter.png" alt="icon of twitter"></a>
                    <a href="https://ar.linkedin.com/"><img src="../assets/linkedin.png" alt="icon of linkedin"></a>
                    <a href="https://www.instagram.com/"><img src="../assets/ig.png" alt="icon of instagram"></a>
                    <a href="https://www.facebook.com/"><img src="../assets/fb.png" alt="icon of facebook"></a>
                </div>
                <div class="location">
                    <h4>Rosario, Argentina</h4>
                    <h4>Copyright © 2022 Trackgenix. All rights reserved</h4>
                </div>
            </footer>
        </div>
    </body>
</html>