footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 270px;
    background-image: url(../assets/png/footer-background);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.foot-icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin-top: 4rem;
}
.foot-text{
    margin-top: 1rem;
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 2rem;
}