.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 3rem;
    background-color: #aace9b;
}
.header-container span {
    margin-left: 1rem;
}
.header-container h1 {
    font-family: 'Righteous' , 'Roboto' , 'arial';
    font-weight: 400;
    font-size: 3rem;
    text-transform: uppercase;
}
.header-container nav ul {
    display: none;
}
/*media header for tablet*/
@media screen and (min-width: 768px) {
    .header-container nav {
        flex-basis: 400px;
    }
    .header-container nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}