.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}
.header-container img{
    height: 20px;
    padding-left: 0.4rem;
}
.header-container h1{
    font-family: Righteous;
    font-size: 2rem;
    text-transform: uppercase;
    flex: 2;
}
nav{
    flex: 3;
}
.header-container nav ul{
    display: flex;
    justify-content: space-evenly;
    flex: 1;;
}
.header-container a{
    text-transform: uppercase;
}
.header-container a:hover{
    color: #666;
}
@media (min-width: 1024px) {
    .header-container nav{
        display: none;
    }
}