.aside-bar {
    display: none;
}
/*search styles*/
.search-container{
    width: 100%;
}
.search-container form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.7rem;
    background-color: #C4C4C4;
}
.search-container input{
    width: 100%;
    padding: 0.3rem;
    border-radius: 20px;
    border: none;
    margin-left: 0.65rem;
}
.search-container img{
    position: relative;
    right: 2rem;
}
/*aside styles*/
.aside-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    border-bottom: 2px solid #979797;
    margin-top: 3rem;
}
.aside-text:last-child{
    border: none;
}
.aside-text .title-sidebar{
    margin-left: 0.3rem;
    margin-bottom: 0.6rem;
    text-align: left;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: underline 0.3rem #AACE9B;
}
.aside-text p{
    text-align: center;
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1rem;
}
.aside-text li{
    margin: 1rem 0;
    padding-bottom: 0.4rem;
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
    border-bottom: 1px solid #C4C4C4;
    text-align: center;
}
.aside-text li:last-child{
    border: none;
}
.aside-text a:hover{
    color: #999;
}
/*contact styles*/
.contact-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1.5rem;
    padding-bottom: 0.6rem;
    border-bottom: 1px solid #C4C4C4;
    box-sizing: border-box;
}
.contact-container:last-child{
    border: none;
}
.contact-container img{
    margin-left: 0.4rem;
}
.contact-container span{
    font-style: italic;
    font-size: 0.55rem;
    margin-left: 0.2rem;
}
/*media */
@media (min-width: 768px) {
    .aside-bar{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
    }
}