body {
    display: flex;
    width: 100%;
    letter-spacing: 0.05em;
    font-family: 'Roboto';
}
.side-bar {
    background-color: #EDEDED;
}
header {
    background-color: #AACE9B;
}
a{
    color: #000;
    text-decoration: none;
}
.main-sec{
    margin: auto;
    width: 90%;
}
.main-container, .about-us, .assets, .form-container, .main-func, .order-section{
    margin: 2rem 0;
}
.main-container, .main-func, .assets, .form-container, .about-us{
    border-bottom: 2px solid #c4c4c4;
}
h2{
    padding-bottom: 3px;
    text-decoration: underline 0.3rem #AACE9B;
    font-weight: 500;
    font-size: 1.5rem;
}
.main-background, .about-container img, .asset-container img{
    max-width: max-content;
    width: 100%;
    height: auto;
}
/*btn-styles*/
.btn-green{
    padding: 0.4rem 1.2rem;
    color: #000;
    background-color: #AACE9B;
    border-radius: 8px;
    border: 0rem solid #AACE9B;
    font-weight: bold;
    text-transform: uppercase;
}
.btn-white{
    background-color: #fff;
    padding: 0.4rem 1.2rem;
    border-radius: 8px;
    outline: 0.1rem solid #AACE9B;
    font-weight: bold;
    text-transform: uppercase;
    
}
